{% load static %}

<nav class="navbar navbar-expand-lg">
    <div class="container mb-3">
        <a class="navbar-brand pd-4" href="{% url "home" %}">
            <img src="{% static 'icons/desktop/senac_2.svg' %}" alt="logo_senac" class="img_header">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link color_azul" href="{% url "list_users" %}">Usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color_azul" href="{% url "create_profile" %}">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color_azul" href="{% url "create_event" %}">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color_azul" href="{% url "list_setor" %}">setores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color_azul" href="{% url "dash_musichall" %}">Dashboard Admin</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle color_azul" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if image_user %}
                            <img src="{{ image_user }}" alt="Imagem do usuário">
                        {% else %}
                            <img src="{% static 'images/user.png' %}" alt="Imagem padrão">
                        {% endif %}

                        {% if user_name %}
                            {{ user_name }}
                        {% else %}
                            Usuário
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu bg_azul" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item bg_azul color_laranjaWithHover" href="{% url "edit_user" user_id %}">Meu perfil</a></li>
                        <li><a class="dropdown-item bg_azul color_laranjaWithHover" href="{% url "logout" %}">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>