{% extends 'base.html' %}
{% load static %}

{% block title %}Criar Perfil{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/perfil.css' %}">
{% endblock %}

{% block content %}
{% block header %}
    {% include "partials/header/header.html" %}
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} text-center color_azul" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<h1 class="text-center color_azul">Cadastro de Perfil</h1>

<div class="container">
    <form method="post" class="form_container">
        {% csrf_token %}
        <div class="mb-3 form_width">
            <label for="nome" class="form-label color_azul">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control">
        </div>
        <div class="mb-3 form_width">
            <label for="descricao" class="form-label color_azul">Descrição</label>
            <textarea name="descricao" id="descricao" style="resize: none;" class="form-control" rows="7"></textarea>
        </div>

        <div class="text-center">
            <button type="submit" id="btn_post" class="btn bg_laranja color_cinza mb-4">Cadastrar</button>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include "partials/footer/footer_form.html" %}
{% endblock %}