{% extends 'base.html' %}
{% load static %}

{% block title %}Criar cliente{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/perfil.css' %}">
{% endblock %}

{% block content %}
{% block header %}
    {% include "partials/header/header.html" %}
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} text-center color_azul" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<h1 class="text-center color_azul">Cadastro de Perfil</h1>

<main class="container">
    <form method="post" class="form_container">
        {% csrf_token %}
        <div class="mb-3 form_width">
            <label for="nome" class="form-label color_azul">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control">
        </div>
        <div class="mb-3 form_width">
            <label for="email" class="form-label color_azul">Email</label>
            <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="mb-3 form_width">
            <label for="cpf" class="form-label color_azul">CPF</label>
            <input type="text" name="cpf" id="cpf" class="form-control">
        </div>

        <div class="text-center">
            <button type="submit" id="btn_post" class="btn bg_laranja color_cinza mb-4">Cadastrar Cliente</button>
        </div>
    </form>
</main>

{% block scripts %}
    <script type="module" src="{% static 'scripts/valid_cpf.js' %}"></script>
    <script src="{% static 'scripts/confirmation_password.js' %}"></script>
{% endblock %}
{% endblock %}


{% block footer %}
    {% include "partials/footer/footer.html" %}
{% endblock %}